.navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;  /* ensure full width */
}

.custom-nav-item {
    margin-right: 60px; /* adjust this value as per your spacing requirement */
}

.nav-link:hover {
    text-decoration: underline;
}


/* Navbar background color */
.navbar.navbar-light.bg-light {
    background-color: #007bff !important;
}

/* Navbar text color */
.nav-link {
    color: white !important;
}

/* Hover effect */
.nav-link:hover {
    opacity: 0.8;
}