header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #ededed;
    box-shadow: 0 0 10px rgb(97, 97, 97);
    justify-content: space-between;
}

.logo {
    padding: 3%;
    position: absolute;
    width: 80px;
    height: 75%;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link {
    margin-left: 25px;
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
    margin-right: 1rem;
    display: flex;  
}

nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%; 
    margin-left: 100px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #333;
}